{%extends 'base.html'%}
{% block content %}

<div class="landing" id="first"> 
          
    <div class="rgba-indigo-light full-bg-img flex-center mask white-text" style="height: 90vh;">           

        <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
            <li>
            <h1 class="font-weight-bold text-uppercase">Tutorial Website</h1>
            </li>
            <li>
            <p class="font-weight-bold text-uppercase py-4">Get all the tutorial resources here with us</p>
            </li>
            <li class="list-inline-item">
            <a target="_blank" href="" class="btn btn-unique btn-lg btn-rounded mr-0">Sign up!</a>
            </li>
            <li class="list-inline-item">
            <a target="_blank" href="https://sam2020-4.github.io/Github/" class="btn btn-cyan btn-lg btn-rounded ml-0">Learn more</a>
            </li>
        </ul>                  
    </div> 
</div>

<hr>