{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if tutorials %}
      <h2>Found {{ tutorials|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 tutorials for the search term {{message}}</h2>
    {% endif %}
  </div>

  <div class="row">
  {% if tutorials %}
    {% for tutorial in tutorials %}
      <div class="col-lg-9">        
        <h1 class="text-center">{{tutorial.title}}</h1>
        <p>{{ tutorial.post }} <a href="#" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Read More</a></p>
        <p> tutorial Author: {{ tutorial.author }}</p>
        <p>Date Published: {{ tutorials.pub_date }}</p>
      </div>

      <div class="col-lg-3">
        <img src="{{tutorial.tutorial_image.url}}" class="img-responsive" alt="Image">
      </div>

    {% endfor %}
  {% endif %}
  </div>
  
</div>
{% endblock %}